body {
    background-color: #638BB3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 50px 0px 50px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.content {
    color: #FFFFFF;
}

.links {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 16px;
}

a:hover {
    color: #DDDDDD;
}